# from django.core.management.utils import get_random_secret_key
# get_random_secret_key()

export SECRET_KEY='3a^&h4ch#u5=)_g&+mv=*h(!*s7^nzg!19j5=6)i_1f*4d_27m'
export JWT_KEY='$5iu*+0bw^_0(fj$w-r6cv8k=nm%6!tg=r8#u9ssjp*js_o@ev'

export VPS_SSH='ssh -i ~/.ssh/smithienious smithienious@13.76.158.140'
export VPS_KEY='-----BEGIN RSA PRIVATE KEY-----
MIIG4wIBAAKCAYEAyUXP+VtmeNeDA4UO0xU2bYQXaevZEW8XxuZCpkDUe8dj/GaR
txvoRvGjQAHVje0jMfhq3pwPlFJMJxpJOCahahNuAmyMH0kCiolO7bqlsuEm4Osu
wv4DjBb9nH1xm81nivDMmghZiChrZpUmx66dsvrJYczzzRn4D2dHh+YFcKhThSfd
YHLcbdPIAaheL8MICMtfbCZa959IudBJlJRxtvmEkSWybUxLit6L1oKoBYWijsZx
OgO5O8pzPnlbRV8ppV1wQN7UF2vey+5OTQ9OphcjubSC9r0GFkXK3IFAD6WmsGK7
esHxfkCJ/eHPObsHPm/X4icVo0m4Os9Z0P7KdNvaUImFC9OpGiVRm8PsZfZ44XXU
stE25opnZiUL5BYXOKI36jaBmXJdS3V2D0sIlz7+afoOZsObYmCHZybH5zvaEqsN
yE1u/4iMtrAnsCUyjars8r45mPFeCXnpU8ILKWv3zW1XlRqpb2H1wwwmtthrBEIj
Aty7qfX+w9eSJa6ZAgMBAAECggGBAJPXVuO38nYy/0Y3l2MPQtKA413nYqO+sX1l
J3HNTwa4uEXu5XvV4PEzjxF2B3JfzKlo6r8nbP4q0UsrsLqxDYHIUdcv+mEElPxD
zZkrr4jMf21Y8xlB0kM1pAYt0qR55WOWawN9vJ4Z6oIIbtrf9XBBbGkNTcvLFn3i
BBXbrQVKb0bwuFifJjD6DgDBtqVood8r26SqK8mV06rBRzr/KuQXNfwT75L/JsIT
pC3l/RtJRNWRCBxwHcDAfZRXOeaj9bovJZGe5NSpdj6p+NzaQGZ4+IjDSWpNGsJt
OFubU3JlCcdKPn8QBiQI+ofkTltGxE0VbZItnI+EC+BgfS2gdjz5oeAWgO2XzYmA
8b1jjLCg0281gy3SedWi4E33vmKzPD2f+zVkBYoPNDoZo5sz9cJVroKTnxT5vhZg
H/EVAqoCUaGTHaR6S6junviWlyzCTcXjYbQY6f+8OBDI0MYNJ71hXTaXIsWQoPGC
Mp5Lqwo50V2mK7aklupGMJ3Aj5cEPQKBwQDxLr9Cy9g3GU2xOsUU50N4SVccN8mU
BmYsonSPSqHNR8HH+BhRIUlrQySxcU9/6xHLTjLCHOc+1X08fLhQAlMKqE+srjaL
jSSXzKuZIwsb8cFlz25JGQslF72gZeSGgZiK/On4quty4HyQgOVWudRr4rNjj9aj
SqX3YS7qZYF5sC/LOSdD4HCn7Pdsonj3zg0ctj+8rJE0rNnnCj8O8IQmgs6mA8Qs
22JWa8toSh5R6rR1idnXUNIgwkT+93AgfYcCgcEA1aNfm6nQZNVPBz9Fxd+YmwLR
rIhXyE3uIEDZolxHjqDxFuqb9z990qh8j1cE9quMlLR5mZc/AUQZ3wDm5EIKrT7G
GfMzNXxH/qk61hAHnVI0OcAdkkqxRGCAs+/KKplbEfZIEhAtzpt1kSbabwXB07Ep
rMfLQ4+pHDzbQ8zXzICvfx1JIUB/ZYivCZ+qlhBUb05vUukAbTYUOq5oj6ceM+Nu
ILcb/p7I/L/LUgeZp3ehbUcg/9pPw2gBwL4XSnrfAoHANm28UBC8vMKDHAoNTAhc
25qBhCa64SMIj+4hq+zF0xPskXpV0olWjlRaxYiyzkV4gI8nOVNYhH+dgbcLyVKc
9vzA7lFqkdfKeE+CMk8MRMQsRxOm6ewy7a4L51TXW9uHV2Z4TtwTwpsSwXG1T/sk
CyzgGwntAHDqP4e5FMDPlWzDfHNrfw/5nIwH0oZgElx37RDcFXJEWsTfcBqJ3I8+
44oFpMWY0h64dJRjFSgU65uyGgyAEu10Xlw5QekJbuulAoHAL3gnrEzlMyJ6dt/G
PxtZq0fLEw0QhD9co+oE8aCTfcuhBjiHAz8mVAJ/+tGZFr4zdG9NfaUvqLZbEUQA
CcPq32fNWMLDJCVDUgCEREA3kOtNE2/uoizaipjuwAyN3T1KEQmqJelWZEwCqYf6
jSS4VrNM0Ulrjs2DA/U5uyzu3k/Rrurw7uSH6iWezwKdQs7KFBlXfxKqt5mGkStj
rFezzE/Cjp5hKAhcHFz5bnal26InSkK9wFvf0Ulw6kTSpAf9AoHAUSv3z00M4QoX
pexnmDuxYL5vEcWJLpsV9xbUoViv1A+ZibddcTKkjOPl9jZQ44ybc77mJ2hdhqoJ
TzDYzxWIdFi6Z9wvc9ubOXvvgKEPMyl7tMnk+7KmafcH2ppnnEsD0cEEgmf2caZq
n6fQ6Vid6PK1QtQWsl7INmU1jq1sDCn9ylNPvSO7sZ3HA7gdIgQIiu5Uq7VGPBd/
lxDz18D7TF1n/3KKYXGUwHkFRW2d95M8NZ/El24zeMC6MczEfjGD
-----END RSA PRIVATE KEY-----'
